@import "tailwindcss";

@theme {
  --color-brand-red: #AA3519;
  --color-brand-dark: #0A0A0B;
  --color-brand-gray: #1F1F22;
}

:root {
  background-color: var(--color-brand-dark);
  color: #ffffff;
}